<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="login-body">
    <div class="header">
        <div id="siteName">LinkiVault</div>
        <div class="search-bar-and-buttons">
            <div class="search-bar-container">
                <div id="right-buttons">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="login-and-description">
            <div class="form-container">
                <h1>Register</h1>
                <form id="registerForm">
                    <input type="text" id="username" placeholder="Username" required>
                    <input type="password" id="password" placeholder="Password" required>
                    <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
                    <button type="submit" id="registerButton">Register</button>
                </form>
                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
            <div id="descriptionBox">
                <p>Welcome to <strong>LinkiVault</strong>, your personal online space for secure storage and management of web links. Whether you are a professional researcher, a curious explorer, or a digital hoarder, LinkiVault provides an intuitive, organized, and secure platform to save, and access your valuable web links anytime, from anywhere.<br><br>
            
                With LinkiVault, you can:<br>
                <ul>
                    <li>Save unlimited web links with a single click.</li>
                    <li>Access your saved links from any device, at any time.</li>
                </ul><br>
                Already have an account? Login and enjoy the clutter-free digital experience.</p>
            </div>
        </div>
    </div>
    <script src="register.js"></script>
</body>
</html>
